In [1]:
def myfunc(a,b,c=0):
    return sum((a,b,c))

In [2]:
myfunc(10,20)

30

In [3]:
myfunc(10,20,30)

60

In [4]:
myfunc(10,20,30,10)

TypeError: myfunc() takes from 2 to 3 positional arguments but 4 were given

In [5]:
def func(*args):
    return sum(args)

In [6]:
func(10,20,20,20)

70

In [7]:
func(10,0,9)

19

In [8]:
def fun(*args):
    print(args)

In [9]:
fun(1,2,3,2,4)

(1, 2, 3, 2, 4)

In [10]:
def funs(*args):
    print(*args)

In [11]:
funs(1,2,3,4)

1 2 3 4

In [12]:
t=(1,2,3)

In [13]:
print(*t)

1 2 3

In [21]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print("my fruit is data {}".format(kwargs['fruit']))
    else:
        print("fruit is not there")

In [22]:
myfunc(fruite="apple",tree="onion")

fruit is not there

In [23]:
def myfunc(**jelly):
    print(jelly)

In [24]:
myfunc(apple="helo",tree="banyan")

{'apple': 'helo', 'tree': 'banyan'}

In [25]:
def myfunc(*args,**kwargs):
    print("foudn the value {} {}".format(args[0],kwargs["fruit"]))

In [26]:
myfunc(10,20,40,fruit="apple",tree="papaya",vegg="new_veg")

foudn the value 10 apple

In [27]:
def square(num):
    return num**2

In [28]:
my_name=[1,2,3,4,5]

In [29]:
list(map(square,my_name))

[1, 4, 9, 16, 25]

In [30]:
for item in map(square,my_name):
    print(item)

1
4
9
16
25

In [31]:
from random import shuffle

In [32]:
my_list=[1,2,3,4,5]

In [33]:
shuffle(my_lsit)

NameError: name 'my_lsit' is not defined

In [34]:
shuffle(my_list)

In [36]:
my_list

[1, 4, 2, 5, 3]

In [37]:
shuffle(my_list)

In [38]:
my_list

[1, 5, 3, 2, 4]

In [39]:
def player_guess():
    guess=""
    while guess not in ["0","1","2"]:
        guess=input("pick no 0,1 or 2")
    return int(guess)

In [40]:
player_guess()

pick no 0,1 or 29
pick no 0,1 or 21

1

In [41]:
my_string="hello"

In [42]:
l=[letter for letter in my_string]

In [43]:
l

['h', 'e', 'l', 'l', 'o']

In [44]:
my_list=[x for x in range(0,11)]

In [45]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
my_list=[x*y for x in [1,4,6] for y in [2,3,4]]

In [47]:
my_list

[2, 3, 4, 8, 12, 16, 12, 18, 24]

In [48]:
my_list1=[1,2,3,4,4]

In [49]:
my_list2=[4,5,3,2]

In [51]:
for item,sec in zip(my_list1,my_list2):
    print(item,sec)

1 4
2 5
3 3
4 2

In [52]:
#filter ,map and lambda expression in python

In [53]:
def square(num):
    return num*num

In [54]:
list(map(square,[3,2,1,4]))

[9, 4, 1, 16]

In [55]:
list(filter(lambda x:x%2==0,[2,3,4,5,8]))

[2, 4, 8]